@import url('../../css/variables.css');

.header {
	background-color: var(--light);
	padding: 20px;
	margin: 15px 15px 0;
	display: flex;
  align-items: center;
  justify-content: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 2px;
	flex: 0 0 auto;
}

.logo {
	margin-right: 30px;
	width: 60px;
}

.app-name {
	margin-right: 30px;
}

.user {
	display: flex;
  align-items: center;
  justify-content: end;
	flex-grow: 1;
}

.user a {
	display: block;
}

.user a:hover {
	transform: var(--up);
}

.user img {
	width: 35px;
}

.user__icon {
	margin-right: 20px;
}